<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testapp.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <application
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name" 
        android:screenOrientation="portrait" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden|keyboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabMenu"
            android:label="@string/app_name"  
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.testapp.app.TABMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Camera"
            android:label="Camera Application" 
            android:configChanges="orientation" >
        </activity>
        
        <activity android:name=".Gallery"></activity>
        <activity android:name=".AddTypeList"></activity>
        <activity android:name=".MatchClothing"></activity>
        <activity android:name=".SaveData"></activity>
		<activity android:name=".CheckData"></activity>
		<activity android:name=".ViewClothing"></activity>
		<activity android:name=".EditClothing"></activity>
    </application>
    
    

</manifest>